#root {
  max-width: 1280px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  position: relative;
}

nav {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.479);
}

.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  padding: 1rem;
}



.nav-btn {
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  background-color: #333;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

.nav-btn:hover {
  background-color: #444;
}

.nav-page {
  text-decoration: none;
}